@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #EFB289;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

body{
    background-color: #BFD7EB;
}

html {
    scroll-behavior: smooth;
}

img {
    height: 15vw;
    width: auto;
    image-resolution: 100%;
}

.good{
    font-size: 4vh;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

input {
    border: black 0.1vw solid;
    font-size: 3vh;
    border-radius: 10px;
    outline: none;
    background-color: #E7E6E6;
    height: 7vh;
    width: 40%;
    margin: 0.8vh;
    padding: 0.25vw 0.5vw;
    font-weight: 600;
}

input[type="submit"] {
    background-color: #8FAADC;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    margin: 6vh;
    width: 25%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.center {
    text-align: center;
    align-content: center;
    align-items: center;
}

.left {
    text-align: left;
    align-content: left;
    align-items: left;
}



