

body{
    background-color: #FFFFFF;

    background-color: #BFD7EB;
}

/* Container for each row */
.calendar-block {
    display: flex;
    

    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; /* Separates each row */
    width:60px;
    height: 60px;

    background-color: #BFD7EB;
}

/* Style for each span element inside calendar-block */
.calendar-elem {
    flex: 1; /* Make each span take equal width */
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self:center;
    width:60px;
    height: 60px;
    border: 1px solid black; /* Border around each span */
    background-color: #f0f0f0; /* Background color */
    
}

/* Hover effect for each button */
.calendar-elem button:hover {
    background-color: #c3f6c3; /* Background color on hover */
}

/* Active effect for each button */
.calendar-elem button:active {
    background-color: #116f11; /* Background color on active (click) */
}

.calendar-border {
    border-radius: 5px; /* Rounded corners */
    padding: 80px; /* Padding around the calendar */
    margin: 10px; /* Margin around the calendar */
}


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=lang] {
  width: 100%;
  padding: 15px;
  background-color: #FFFFFF;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=lang]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {

  opacity: 1;
} 

.dropdown-t{
    background-color: #FFFFFF;
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-left: 1px;
    margin-right: 10px;
}

.bigheader{
    background-color: #FFFFFF;
    font-size: 80px;
    font-weight: 600;
    color: #000;
    margin-bottom: -80px;
    padding-left: 90px;
    background-color: #BFD7EB;
}

.mg{
    background-color: #FFFFFF;
    padding-right: 100px;
}

.button:active,
.active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}

.myBookForm{
    display: none;
}